<nav class="navbar navbar-light bg-dark">
 
<a class="nav-link active text-white" aria-current="page" href="#">E-commerce</a>
       
          <a class="nav-link text-white" href="tabla">Modificar Productos</a>
 
</nav>