<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
   <tr>
      <th scope="col">Imagen</th>
      <th scope="col">Producto</th>
      <th scope="col">Editar</th>
      
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
  </table>
</div>